modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[deployment]
deploymentTarget = "gce"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Worker"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Worker"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "celery -A celeryconfig worker --loglevel=info --concurrency=3"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34515
externalPort = 3001

[[ports]]
localPort = 34989
externalPort = 3002

[[ports]]
localPort = 35779
externalPort = 3003

[[ports]]
localPort = 41609
externalPort = 3000

[[ports]]
localPort = 42719
externalPort = 5173

[[ports]]
localPort = 44133
externalPort = 6800

[[ports]]
localPort = 44271
externalPort = 5000

[[ports]]
localPort = 46009
externalPort = 6000

[[ports]]
localPort = 46515
externalPort = 4200
